body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #333;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #28a745;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #218838;
}

#connectWalletBtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#connectWalletBtn:hover {
    background-color: #0069d9;
}

#connectionStatus, #pairingDetails {
    margin-top: 20px;
    color: #fff;
}
